################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LearningRecord/.vs/LearningRecord/FileContentIndex/10822b84-5b8f-4c9e-ac2d-d1c1b57aa79f.vsidx
/LearningRecord/.vs/LearningRecord/DesignTimeBuild/.dtbcache.v2
/LearningRecord/.vs/LearningRecord/FileContentIndex/3dc8f409-602f-4fd1-93fe-00844d132def.vsidx
/LearningRecord/.vs/LearningRecord/FileContentIndex/5089ff61-7787-42c5-a335-dac31c927a34.vsidx
/LearningRecord/.vs/LearningRecord/FileContentIndex
/LearningRecord/.vs/LearningRecord/config
/LearningRecord/.vs/LearningRecord/v17/.suo
/LearningRecord/.vs/LearningRecord/v17/DocumentLayout.backup.json
/LearningRecord/.vs/LearningRecord/v17/DocumentLayout.json
/LearningRecord/LearningRecordWebApi/bin/Debug/net9.0
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/ref
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/refint
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/staticwebassets
/LearningRecord/LearningRecordWebApi/obj/LearningRecordWebApi.csproj.nuget.dgspec.json
/LearningRecord/LearningRecordWebApi/obj/project.assets.json
/LearningRecord/LearningRecordWebApi/obj/project.nuget.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/ApiEndpoints.json
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/apphost.exe
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/Learning.0AA60B9B.Up2Date
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.AssemblyInfo.cs
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.AssemblyInfoInputs.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.assets.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.csproj.AssemblyReference.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.csproj.BuildWithSkipAnalyzers
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.csproj.CoreCompileInputs.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.csproj.FileListAbsolute.txt
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.dll
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.genruntimeconfig.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.MvcApplicationPartsAssemblyInfo.cache
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.MvcApplicationPartsAssemblyInfo.cs
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.pdb
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/LearningRecordWebApi.sourcelink.json
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/staticwebassets.build.json
/LearningRecord/LearningRecordWebApi/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/LearningRecord/Receive/bin/Debug/net9.0
/LearningRecord/Receive/obj/Debug/net9.0/ref
/LearningRecord/Receive/obj/Debug/net9.0/refint
/LearningRecord/Receive/obj/Debug/net9.0
/LearningRecord/Receive/obj/project.assets.json
/LearningRecord/Receive/obj/project.nuget.cache
/LearningRecord/Receive/obj/Receive.csproj.nuget.dgspec.json
/LearningRecord/Receive/obj/Receive.csproj.nuget.g.props
/LearningRecord/Receive/obj/Receive.csproj.nuget.g.targets
/LearningRecord/Send/bin/Debug/net9.0
/LearningRecord/Send/obj
/LearningRecord/.vs
