################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LearningRecord/.vs/LearningRecord/FileContentIndex/10822b84-5b8f-4c9e-ac2d-d1c1b57aa79f.vsidx
